@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-size: 1rem;
  direction: rtl;
  font-family: "IRANSansXV", sans-serif;
  color: rgba(0, 0, 0, 1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION START */
html,
body {
  overflow-x: hidden;
}
@font-face {
  font-family: "IRANSansXV";
  src: url("../public/fonts/IRANSansXV.woff2") format("woff");
  src: url("../public/fonts/IRANSansXV.woff") format("woff");
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
